.header-container {
    background-color: rgb(135, 196, 168);
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 2rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

@media (max-width: 500px) {
    .header-container {
        border-radius: 0;
    }
}