<div class="panel">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i *ngIf="food.type === 'Comida'" class="fa-solid fa-utensils icon-item"></i>
                    <i *ngIf="food.type === 'Bebida'" class="fa-solid fa-mug-saucer icon-item"></i>
                    <h2 class="title">{{food.name}}</h2>
                </mat-panel-title>
                <mat-panel-description class="description">{{food.type}}</mat-panel-description>
                <div class="time-container">{{time.timeStart}} - {{time.timeEnd}}</div>
            </mat-expansion-panel-header>
            <div class="panel-content row">
                <div class="col-5 content">
                    <h2>Cantidad</h2>
                    <p>{{food.cantidad}}</p>
                </div>
                <div class="col-5 content">
                    <h2>Horario</h2>
                    <p *ngIf="time">{{time.name}}</p>
                </div>
                <div class="col-1 content">
                    <mat-icon class="icon-edit" (click)="openDialog(food)">edit</mat-icon>
                </div>
                <div class="col-12 content" *ngIf="food.description !== ''">
                    <h2>Descripción</h2>
                    <p>{{food.description}}</p>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
