<div>
    <form [formGroup]="form" class="form">
        <mat-form-field >
            <input 
                matInput 
                [matDatepicker]="picker" 
                placeholder="Selecciona una fecha"
                formControlName="date"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-icon 
            class="icon"
            routerLink="new-item"    
        >add_circle</mat-icon>
    </form>
    <app-food-item
        *ngFor="let item of filterFoodDate()"
        [food]="item.food"
        [time]="item.time"
        [uid]="uid"
    ></app-food-item>
</div>
